* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: .3px;
}

@font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Bold'), url('/resources/fonts/TrajanPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Cormorant Bold'), url('/resources/fonts/Cormorant/Cormorant-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Creolia';
    src: url('/resources/fonts/Creolia/Creolia.eot');
    src: local('Creolia Bold'), local('Creolia'),
        url('/resources/fonts/Creolia/Creolia.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/Creolia/Creolia.woff2') format('woff2'),
        url('/resources/fonts/Creolia/Creolia.woff') format('woff'),
        url('/resources/fonts/Creolia/Creolia.ttf') format('truetype');
    font-style: normal;
}

#logo {
    font-family: "Creolia";

    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;

    text-transform: uppercase;
    color: #4c3622;
    background: #F5F2E9;

    width: 138px;
    height: 44px;
    padding-top: 6px;
    text-align: center;

    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #F5F2E9;
    /* color: #59402A; */
}

header, footer {
    height: 68px;
    background-color: #59402A;
    padding: 12px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 44px;
        border-radius: 2px;
    }

    nav {
        display: flex;
        gap: 32px;
        align-items: center;

        a {
            color: #F5F2E9;
            font-size: 22px;
            font-weight: 300;
        
            display: block;
            width: fit-content;
        
            padding: 4px 8px;

            &.selected {
                font-weight: 500;
            }
        }
    }
}

footer {
    position: relative;
    
    nav {
        position: absolute;
        right: 20px;
        bottom: 20px;

        a {
            font-size: 16px;
        }
    }
    
    & > a {
        margin: 0 auto;
    }
}

main {
    padding: 0 24px;
}

#palette {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none; /* flex; */

    height: 10px;
    &:hover {
        height: auto;
    }

    div {
        padding: 20px;
    }
}

h1 {
    font-size: 52px;
    line-height: 60px;
    color: #4c3622;
}

h2 {
    font-size: 40px;
    color: #733729;
}

h3 {
    font-size: 30px;
    color: #9e7559;
}

h4 {
    font-size: 24px;
    color: #4c3622;
}

.button {
    display: block;
    width: fit-content;

    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    background-color: #59402A;
    color: #F5F2E9;
    border: 1px solid transparent;
    border-radius: 6px;

    transition: background-color .5s;
    &:hover {
        color: #59402A;
        background-color: #F5F2E9;
        border: 1px solid #59402A;
    }
}

/**
 * MOBILE MENU BUTTON
 */
header {
    div {
        #menu-button {
            display: flex;
            margin-right: 4px;

            img {
                border-radius: 50%;
                padding: 3px;
                border: 1px solid white;
                transition: transform 0.7s;
            }
    
            &.open {
                img {
                    transform: rotate(90deg);
                }
            }
        }
    
        &:has(#menu-button.open) + nav {
            max-height: 1000px;
        }
    }

    nav {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.7s ease-in-out;

        a:first-of-type {
            margin-top: 20px;
        }
    }
}

@media (max-width: 800px) {
    header, footer {
        background-color: #59402A;
        padding: 8px;
    
        display: flex;
        justify-content: space-between;
    }

    header {
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a:last-of-type {
                display: block;
            }
        }

        flex-direction: column;
        height: unset;
    }

    footer {
        height: unset;
        flex-direction: column;
        justify-content: center;
        padding: 16px 0 32px;

        nav {
            position: relative;
            right: unset;
            bottom: unset;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 16px;
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    section:last-of-type {
        margin-bottom: 64px;
    }
}

@media (min-width: 800px) {
    #menu-button {
        display: none !important;
    }

    nav {
        max-height: 1000px !important;
        flex-direction: row !important;

        a:first-of-type {
            margin-top: 0 !important;
        }
    }
}