@font-face {
    font-family: 'Inter';
    src: url('/resources/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: .3px;
}

body {
    background-color: #F5F2E9;
    /* color: #59402A; */
}

footer .logo {
    width: 62px;
}

header, footer {
    height: 68px;
    background-color: #59402A;
    padding: 12px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 44px;
        border-radius: 2px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    }

    nav {
        display: flex;
        gap: 32px;
        align-items: center;

        a {
            color: #F5F2E9;
            font-size: 22px;
            font-weight: 300;
        
            display: block;
            width: fit-content;
        
            padding: 4px 8px;

            &.selected {
                font-weight: 500;
            }
        }
    }
}

header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

footer {
    position: relative;
    display: flex;
    justify-content: space-between;

    & > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
    }
    
    nav {
        a {
            font-size: 16px;
        }
    }
}

main {
    padding: 0 24px;
}

#palette {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none; /* flex; */

    height: 10px;
    &:hover {
        height: auto;
    }

    div {
        padding: 20px;
    }
}

h1 {
    font-size: 52px;
    line-height: 60px;
    color: #4c3622;
}

h2 {
    font-size: 40px;
    color: #733729;
}

h3 {
    font-size: 30px;
    color: #9e7559;
}

h4 {
    font-size: 24px;
    color: #4c3622;
}

@property --btnGradient1 {
    syntax: '<color>';
    initial-value: #9e7559;
    inherits: false;
}
  
@property --btnGradient2 {
    syntax: '<color>';
    initial-value: #59402A;
    inherits: false;
}

.button {
    display: block;
    width: fit-content;

    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    color: #F5F2E9;
    border: 1px solid transparent;
    border-left: none;
    transform: translateX(1px);
    border-radius: 6px;

    box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),
                5px 5px 5px rgba(0,0,0,0.2);

    background: linear-gradient(135deg, var(--btnGradient1), var(--btnGradient2));
    transition: --btnGradient1 .5s, --btnGradient2 .5s, border .5s;

    &:hover {
        --btnGradient1: #FFF;
        --btnGradient2: #F5F2E9;
        color: #59402A;
        border: 1px solid #59402A;
        transform: translateX(0);
    }
}

/**
 * MOBILE MENU BUTTON
 */
header {
    div {
        #menu-button {
            display: flex;
            margin-right: 4px;

            img {
                border-radius: 50%;
                padding: 3px;
                border: 1px solid white;
                transition: transform 0.7s;
            }
    
            &.open {
                img {
                    transform: rotate(90deg);
                }
            }
        }
    
        &:has(#menu-button.open) + nav {
            max-height: 1000px;
        }
    }

    nav {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.7s ease-in-out;

        a:first-of-type {
            margin-top: 20px;
        }
    }
}

@media (max-width: 800px) {
    header, footer {
        background-color: #59402A;
        padding: 8px;
    
        display: flex;
        justify-content: space-between;
    }

    header {
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a:last-of-type {
                display: block;
            }
        }

        flex-direction: column;
        height: unset;
    }

    footer {
        height: unset;
        flex-direction: column;
        justify-content: center;
        padding: 16px 0 32px;

        & > a {
            position: relative;
            top: unset;
            left: unset;
            transform: unset;
            order: 9;
        }

        nav {
            position: relative;
            right: unset;
            bottom: unset;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 16px;

            &:last-of-type {
                order: -1;
                margin-bottom: 8px;
            }
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    section:last-of-type {
        margin-bottom: 64px;
    }
}

@media (min-width: 800px) {
    #menu-button {
        display: none !important;
    }

    nav {
        max-height: 1000px !important;
        flex-direction: row !important;

        a:first-of-type {
            margin-top: 0 !important;
        }
    }
}