section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 120px 0;

    * {
        margin-bottom: 16px;
    }

    article {
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 56px;

        h1 {
            margin-bottom: 8px;
        }

        p {
            font-size: 26px;
        }
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 87%;
            height: 87%;
        }
    }
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: 60px;

    margin: 40px 0;
    padding: 0 36px;

    article {
        p {
            font-size: 22px;
        }

        div {
            display: grid;
            grid-template-areas: 
                "image title"
                "image subtitle";
            grid-template-columns: 88px 1fr;
            gap: 0 16px;

            margin: 18px 0;
            padding: 8px;

            img {
                grid-area: image;

                height: 88px;
                width: 88px;
                border-radius: 8px;
            }

            h3 {
                grid-area: title;
            }

            h4 {
                grid-area: subtitle;
            }
        }
            
        a {
            margin: auto;
            font-size: 20px;
            padding: 8px 12px;
        }
    }

    aside {
        div {
            display: grid;
            grid-template-areas: 
                "image title"
                "image subtitle";
            grid-template-columns: 64px 1fr;
            gap: 0 24px;
            align-items: center;
            margin: 18px 0;

            img {
                grid-area: image;

                height: 64px;
                width: 64px;
            }

            h3 {
                grid-area: title;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                grid-area: subtitle;
            }
        }
            
        a {
            margin: auto;
            font-size: 20px;
            padding: 8px 12px;
        }
    }

    div:last-of-type {
        margin: unset;
        padding: unset;

        width: 100%;
        display: flex;
    }
}

@media (min-width: 1200px) {
    section:nth-of-type(2) {
        article {
            min-height: 520px;
        }

        article, aside {
            position: relative;
        }

        div:last-of-type {
            position: absolute;
            bottom: 8px;
        }
    }
}

@media (max-width: 800px) {
    section:nth-of-type(1) {
        grid-template-columns: 1fr;

        margin: 24px 0;
        text-align: center;

        article {
            padding-left: 8px;
            align-items: center;
        }
        
        aside {
            order: -1;
        }
    }

    section:nth-of-type(2) {
        grid-template-columns: 1fr;
        padding: 0 8px;
        margin: 40px 0 80px;

        article {
            div {
                align-items: center;
            }
            
            h2 {
                text-align: center;
                line-height: 42px;
            }

            p {
                text-align: center;
            }

            h3, h4 {
                display: flex;
                align-items: center;
            }

            h3 {
                line-height: 30px;
                height: 30px;
            }

            h4 {
                font-size: 20px;
            }
        }

        aside {
            h2 {
                text-align: center;
            }

            h3 {
                font-size: 24px;
            }
        }
    }
}