main {
    min-height: calc(100vh - 68px - 68px - 48px);
    margin: 24px 5%;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    p {
        text-align: left;
    }
}